<md-bottom-sheet class="md-grid">
    <md-list>
        <md-item ng-repeat="gem in gemsToChoose">
            <md-button class="md-grid-item-content"  aria-label="{{gem.name}}" ng-click="listItemClick($index)">
            <span class="{{gem.icon.gemCategory}}">
                <span class="gem {{gem.icon.gemTyp}}" href="{{gem.tooltipUrl}}"></span>
            </span>
            </md-button>
            <a xmlns="http://www.w3.org/1999/xhtml" href="{{gem.tooltipUrl}}">{{gem.name}}</a>
            <!--<p class="md-grid-text">{{gem.name}}</p>-->
        </md-item>
    </md-list>
</md-bottom-sheet>